.menuItem {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menuItemTitle {
    flex: 0 0 30%;
}

.menuItemChildren {
    justify-content: space-evenly;
}
