.menuItem {
    border: 1px solid black;
    background-color: rgb(195, 181, 181);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuItemTitle {
    flex: 0 0 30%;
}

.menuItemChildren {
    justify-content: space-evenly;
}
