.settingsSelection {
    grid-area: headerCenter;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 2px solid #393e46;
}

.entryMethodButton {
    height: 4rem;
    width: 5rem;
    font-size: 1.5rem;
}

.selected {
    border: 2px solid blue;
}
