/* todo: will styling be easier with a table and not a grid? */

.cell {
    border: 1px solid black;
}

.cell:focus {
    border: 2px solid blue;
}

.cell:nth-child(3n) {
    border-right: 4px solid black;
}

.cell:nth-child(27n + 19),
.cell:nth-child(27n + 20),
.cell:nth-child(27n + 21),
.cell:nth-child(27n + 22),
.cell:nth-child(27n + 23),
.cell:nth-child(27n + 24),
.cell:nth-child(27n + 25),
.cell:nth-child(27n + 26),
.cell:nth-child(27n + 27) {
    border-bottom: 4px solid black;
}

.error {
    background-color: #ff000070;
}

.new {
    color: #4444f3e0;
}

.valueWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 45px;
}
