.sidebarItem {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.sidebarItem + .sidebarItem {
    border-top: 1px solid black;
}

/* .sidebarItemTitle {
} */
