.pencilMarkGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
}

.hoverArea {
    /* is it better to do this, or to conditionally render only when necessary? */
    color: white;
    border: 1px solid white;

    display: flex;
    justify-content: center;
}

.lightPencilMark {
    color: grey;
    border: 1px solid grey;
}

.darkPencilMark {
    color: magenta;
}
