.cell {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid green;
}

.hoverArea {
    /* is it better to do this, or to conditionally render only when necessary? */
    color: white;
    display: flex;
    justify-content: center;
}

.lightPencilMark {
    color: grey;
}

.darkPencilMark {
    color: magenta;
}
