.pencilMarkGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    position: relative;
}

.hoverArea {
    /* Hack to hide the grid numbers and avoid user selecting them. Conditionally rendering is having issues */
    border: 1px solid transparent;
    color: transparent;
    user-select: none;
    /* End hack to hide the grid numbers and avoid user selecting them */

    display: flex;
    justify-content: center;
}

.lightPencilMark {
    color: grey;
    border: 1px solid grey;
}

.darkPencilMark {
    color: black;
}

.bigNumber {
    color: grey;
    font-size: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    outline: 1px solid blue;
    outline-offset: -5px;
}

.wrapper {
    position: relative;
    height: 100%;
}
